body {
    background-color: #1a237e; 
}

h1, h5, p {
    color: #ffffff; 
}

.container {
    margin-top: 50px;
}

.icon {
    font-size: 60px;
    margin-bottom: 20px;
    color: #2196f3; 
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}